[submodule "third-party/edelta"]
	path = third-party/edelta
	url = https://github.com/apple-ouyang/edelta.git
[submodule "third-party/gdelta"]
	path = third-party/gdelta
	url = https://github.com/apple-ouyang/gdelta.git
[submodule "third-party/xdelta"]
	path = third-party/xdelta
	url = https://github.com/apple-ouyang/xdelta.git
